.task_list_item_closed {
  background-color: #2f2f2f;
  border-radius: 10px;
  padding: 10px;
}

.task_list_item_open {
  background-color: #2f2f2f;
  border-radius: 10px;
  padding: 10px;
}

.task_list_item_top_row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1rem;
  align-items: center;
  padding-left: 10px;
}

.task_item_title {
  font-size: 1.25em;
  font-weight: 500;
  color: #ffffff;
  width: 45%;
  text-align: left;
}

.task_list_priority_low {
  background-color: #00ff00;
  border-radius: 10px;
  width: 100px;
  color: #2f2f2f;
}

.task_list_priority_medium {
  background-color: #ffff00;
  border-radius: 10px;
  width: 100px;
  color: #2f2f2f;
}

.task_list_priority_high {
  background-color: #ff0000;
  border-radius: 10px;
  width: 100px;
  color: #2f2f2f;
}

.task_list_container {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
}
